<div class="row">
    <div class="col-4">
        <p class="mb-1">Groups</p>
        <select class="form-control" (change)="onGroupChange($event)">
            <option *ngFor="let item of data" value={{item.id}}>{{item.description}}</option>
        </select>
    </div>

    <div class="col-4">
        <p class="mb-1">Categories</p>
        <select class="form-control" (change)="onCategoryChange($event)">
            <option *ngFor="let category of categories" value={{category.id}}>{{category.description}}</option>
        </select>
    </div>

    <div class="col-12 mt-4" *ngIf="items.length">
        <p class="mb-1">{{selectedCategory.description}} - Items</p>
        <button type="button" class="btn btn-light" *ngFor="let item of items" (click)="onItemSelect(item)">{{item.description}}</button>
    </div>
</div>